<!DOCTYPE html>
<html>
<head>
    <title>Gemini Chat Shell</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>

  <div style="display: flex; align-items: left;">
    <img src="/static/gemini.png" alt="Gemini Logo" style="width: 135px; height: 50px; margin-right: 10px;">
    <h1>Grounded Chat Demo</h1>
</div>

<div class="container">
  <div class="section">
    <form>
      <label for="hunting_ground">Select your grounding query:</label>
      <select name="hunting_ground" id="hunting_ground">
        <option value="Tell me about the account">Tell me about the account</option>
        <option value="Which GCP services align with this account">Which GCP services align with this account</option>
        <option value="What are the key focus areas for the account">What are the key focus areas for the account</option>
        <option value="Custom">Custom Query</option> <!-- Add the new "custom" option -->
      </select>

      <!-- Custom query textarea, initially hidden -->
      <label for="custom_query" id="custom_query_label" style="display: none;">Custom Query:</label>
      <textarea name="custom_query" id="custom_query" class="large-input" style="display: none;"></textarea>

      <button type="button" id="load-button">Load</button>

      <!-- Loading screen -->
      <div id="loading-screen" style="display: none;">
        <img src="/static/loading.gif" alt="Loading">
      </div>

      <label for="grounding">Grounding:</label>
      <div name="grounding" id="grounding" class="div-large-input" contenteditable="true"></div>

      <label for="persona">Persona:</label>
      <textarea name="persona" id="persona" class="large-input">{{ persona }}</textarea>

      <label for="objective">Objective:</label>
      <textarea name="objective" id="objective" class="large-input">{{ objective }}</textarea>

      <label for="context">Context:</label>
      <textarea name="context" id="context" class="large-input">{{ context }}</textarea>

      <label for="output_format">Output Format:</label>
      <textarea name="output_format" id="output_format" class="large-input">{{ output_format }}</textarea>
      <br>
      <br>
      <button type="button" id="generate">Start Chat</button> <input type="reset" value="Reset" onClick="window.location = '/';">
    </form>
  </div>

  <div class="section">
    <form name="results_form" id="results_form" style="display: none;">
    <!--<form name="results_form" id="results_form">-->
      <h2>Results:</h2>
      <p id='generated_result'></p>
      <textarea name="follow-up-prompt" id="follow-up-prompt" class="prompt-input"></textarea> 
      <button type="button" id="follow-up">Send</button>
    </form>
  </div>
</div>


</body>

<script src="/static/scripts.js"></script>

</html>